@media (min-width: 1281px) {
    .imgResponsive {
        width: 375;
    }
    .myDiv {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .imgResponsive {
        width: 375;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .imgResponsive {
        width: 275px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .imgResponsive {
        width: 275px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .imgResponsive {
        width: 275px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .imgResponsive {
        width: 275px;
    }
    .myDiv {
        display: flex;
        justify-content: center;
    }
}
